@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  @apply 
    py-2.5 px-10 rounded-md text-white
    transition ease-out
    active:transform active:scale-90;
}

.btn.btn-blue{
  @apply 
  bg-blue-500
  hover:bg-blue-600 hover:ring-4;
}

.card {
  @apply
    overflow-hidden
    shadow-custom
    relative rounded-md h-96
    bg-no-repeat bg-cover bg-center;
}

.blur-container {
  @apply 
    flex justify-center items-start 
    absolute bottom-0 w-full h-40 p-6
    transform translate-y-20
    bg-gray-100 bg-opacity-40 shadow-2xl
    text-lg font-extrabold 
    rounded-br-md rounded-bl-md            
    backdrop-filter backdrop-blur-md
    transition ease-in
    hover:translate-y-10;          
}

.service-card {
  @apply
  flex flex-col justify-around items-center
  h-80 bg-blue-700 rounded-md;
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #333;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  transform:
    rotate(45deg)
    translateY(0px);
}

.open .hamburger__bottom-bun {
  transform:
    rotate(-45deg)
    translateY(0px);
}
